
<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Welcome to ZeonLab</title>
    <link rel="stylesheet" href="/sheets/bootstrap.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="/sheets/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body{
            padding-top:80px;
            background:url("/images/loginbg.jpg");
            background-size:cover;
            height:100%;
            width:100%;
        }
        .zlogo{

            display:block;
            margin:0px auto;
            width:260px;
            margin-top:13%;
            margin-bottom:20px;

        }
        .btn{

            padding:0px;
            padding-left:20px;
            width:150px;
        }
        .rightarrow{

            background:#002776;
            color:white;
            padding:12px;
            float:right;
            margin-left:20px;
            font-size:10px;
            border-top-right-radius:3px;
            border-bottom-right-radius:3px;

        }
        .icon{

            color:gray;
            margin-right:15px;
            padding-top:9px;

        }
    </style>
</head>
<body>
<div class="container">

    <div class="text-center ">
        <img src="/images/zeonlab_logo.png" class="zlogo">
        <a href="/login" class="btn btn-default" style="margin-right:12px;"><span class="fa fa-lock icon"></span>Login<span class="fa fa-chevron-right rightarrow"></span></a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user icon"></span>Signup<span class="fa fa-chevron-right rightarrow"></span></a>
    </div>

</div>
</body>
</html>
